@import '../../assets/scss/variables';

@mixin input-label {
  display: block;
  margin: 25px 0 15px 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: $color-primary;
  text-transform: uppercase;
}

@mixin input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
  font-size: 2rem;
  line-height: 5rem;
  color: $color-text;
  font-weight: 100;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $color-secondary;
}

@mixin close-btn(
  $position,
  $size,
  $cross-width: 2px,
  $cross-height: 33px,
  $cross-top: 0,
  $cross-left: 15px
) {
  position: absolute;
  top: $position;
  right: $position;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: $size;
  height: $size;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    top: $cross-top;
    left: $cross-left;
    content: ' ';
    height: $cross-height;
    width: $cross-width;
    background-color: $color-text;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
