$color-primary: #f65261;
$color-secondary: #424242;
$color-secondary-btn: #55555580;
$color-body: #555555;
$color-background: #232323;
$color-overlay: rgba(36, 36, 36, 0.8);
$color-text: #ffffff;
$color-thin-text: rgba(256, 256, 256, 0.8);

$font-size: 10px;
