@mixin layout($justify-content: space-between) {
  padding: 20px 0;
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

.layout-1-column {
  @include layout(center);
}

.layout-2-column {
  @include layout;
}

.layout-3-column {
  @include layout;
  flex-wrap: wrap;

  & > * {
    flex: 0 0 32%;
  }
}
