@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.delete-movie-modal__content {
  @include input;

  display: inline-block;
  padding: 0;
  line-height: 2.5rem;
  height: 25px;
  background-color: transparent;
}
