@import '../../assets/scss/variables';

.header {
  background: url('../../assets/images/header-bg.png') no-repeat;
  background-size: cover;
  height: 400px;
  border-bottom: 15px solid $color-body;
}
